@model Enrollment

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-md-6">
                    <h1>Create Enrollment</h1>
                </div>
                <div class="col-md-6 text-md-end">
                    <p>
                        <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-arrow-left"></i> Back to
                            List</a>
                    </p>
                </div>
            </div>
            <hr class="border-bottom">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CourseId" class="form-label">Course</label>
                    <select asp-for="CourseId" class="form-select" asp-items="ViewBag.CourseItems">
                        <option value="">Select a Course</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="StudentId" class="form-label">Student</label>
                    <select asp-for="StudentId" class="form-select" asp-items="ViewBag.StudentItems">
                        <option value="">Select a Student</option>
                    </select>
                </div>
                <div class="form-group text-md-end mt-5">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Create</button>
                </div>
            </form>
        </div>
    </div>
</div>