@model IEnumerable<Lecturer>


    <h1>Lecturers</h1>

    <p class="text-end">
        <a asp-action="Create" class="btn btn-secondary"><i class="fa-solid fa-plus"></i> Create New</a>
    </p>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lecturer in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => lecturer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => lecturer.LastName)
                </td>
                <td>
                    @await Html.PartialAsync("~/Views/Shared/Partial/_ButtonsPartial.cshtml", lecturer)
                </td>
            </tr>
            }
        </tbody>
    </table>